<?xml version="1.0" encoding="UTF-8" standalone="no"?>
{# Let's define the MAX_PORT variable, we will need it below #}
{% set MAX_PORT =  OPENGEAR_INFOS.max_port  %}
<config>
   <version>0.4</version>
   <system>
      <timezone>Europe/Paris</timezone>
      <snmp>
         <protocol>UDP</protocol>
         <trapport>162</trapport>
         <authprotocol>SHA</authprotocol>
         <authprotocol2>SHA</authprotocol2>
         <privprotocol>DES</privprotocol>
         <privprotocol2>DES</privprotocol2>
         <protocol2>UDP</protocol2>
      </snmp>
      <model>{{ OPENGEAR_INFOS.model }}</model>
      <name>{{ inventory_hostname }}</name>
   </system>
   <console>
      <flow>None</flow>
      <ppp>
         <auth>None</auth>
      </ppp>
      <speed>115200</speed>
   </console>
   <eventlog>
      <server>
         <type>None</type>
      </server>
   </eventlog>
   <auth>
      <type>Local</type>
      <extendedsessionids>on</extendedsessionids>
   </auth>
   <groups>
      <group1>
         <description>Default system super user group</description>
         <name>root</name>
      </group1>
      <total>11</total>
      <group2>
         <description>Provides users with unlimited configuration and management privileges</description>
         <name>admin</name>
      </group2>
      <group3>
         <description>Provides users with minimal privileges</description>
         <name>nobody</name>
      </group3>
      <group4>
         <description>Group for users created automatically via network authentication</description>
         <name>netgrp</name>
      </group4>
      <group5>
         <description>Group to allow USB access to NUT UPS service</description>
         <name>usb</name>
      </group5>
      <group6>
         <description>Group to allow serial access to NUT UPS service</description>
         <name>serial</name>
      </group6>
      <group7>
         <description>Group to allow access to the PPTP VPN server</description>
         <name>pptpd</name>
      </group7>
      <group8>
         <description>Group to allow dialin access via modems</description>
         <name>dialin</name>
      </group8>
      <group9>
         <description>Group to allow ftp access and file access to storage devices</description>
         <name>ftp</name>
      </group9>
      <group10>
         <description>Group to set default shell to pmshell</description>
         <name>pmshell</name>
      </group10>
      <group11>
         <description>Provides users with basic management privileges</description>
         <name>users</name>
      </group11>
   </groups>
   <interfaces>
{% if LAN_IPV4.address %}
      <lan>
         <device>
            <type>ks8692</type>
         </device>
         <address>{{ LAN_IPV4.address }}</address>
         <ddns>
            <provider>none</provider>
         </ddns>
         <dns1>{{ LAN_IPV4.dns1 }}</dns1>
         <dns2>{{ LAN_IPV4.dns2 }}</dns2>
         <gateway>{{ LAN_IPV4.gateway }}</gateway>
         <media>Auto</media>
         <mode>static</mode>
         <netmask>{{ LAN_IPV4.netmask }}</netmask>
      </lan>
{% endif  %}
      <wlan>
         <disabled>on</disabled>
      </wlan>
{% if WAN_IPV4.address %}
      <wan>
         <address>{{ WAN_IPV4.address }}</address>
         <alias>{{ WAN_IPV4.alias }}</alias>
         <ddns>
            <provider>none</provider>
         </ddns>
         <dns1>{{ WAN_IPV4.dns1 }}</dns1>
         <dns2>{{ WAN_IPV4.dns2 }}</dns2>
         <gateway>{{ WAN_IPV4.gateway }}</gateway>
         <media>Auto</media>
         <mode>static</mode>
         <netmask>{{ WAN_IPV4.netmask }}</netmask>
      </wan>
{% endif %}
   </interfaces>
   <internals>
      <internal1>
         <device>
            <type>enviro</type>
         </device>
      </internal1>
   </internals>
   <ports>
{% for PORT_NUM in range( 1, MAX_PORT+1 ) %}
      <port{{ PORT_NUM }}>
         <mode>portmanager</mode>
         <charsize>8</charsize>
         <escapechar>@</escapechar>
         <flowcontrol>None</flowcontrol>
         <label>Port {{ PORT_NUM }}</label>
         <loglevel>2</loglevel>
         <parity>None</parity>
         <pinout>X2</pinout>
         <protocol>RS232</protocol>
         <speed>9600</speed>
         <ssh>on</ssh>
         <stop>1</stop>
         <syslog>
            <facility>Default</facility>
            <priority>Default</priority>
         </syslog>
         <terminal>vt220</terminal>
      </port{{ PORT_NUM }}>
{% endfor %}
   </ports>
   <powersupplies>
      <total>1</total>
   </powersupplies>
   <alerts>
      <migrated>on</migrated>
   </alerts>
   <services>
      <http>
         <enabled>on</enabled>
      </http>
      <https>
         <enabled>on</enabled>
      </https>
      <telnet/>
      <ssh>
         <enabled>on</enabled>
      </ssh>
      <ftp>
         <directory>/var/mnt/storage.usb/tftpboot</directory>
      </ftp>
      <tftp>
         <directory>/var/mnt/storage.usb/tftpboot</directory>
      </tftp>
      <snmp>
         <enabled>on</enabled>
         <protocol>UDP</protocol>
         <roauthprotocol>SHA</roauthprotocol>
         <rocommunity>{{ SERVICES.snmp_community }}</rocommunity>
         <roprivprotocol>DES</roprivprotocol>
         <syscontact>{{ SERVICES.snmp_contact }}</syscontact>
         <syslocation>{{ SERVICES.snmp_location }}</syslocation>
      </snmp>
   </services>
   <storage>
      <usb>
         <description>Internal USB flash</description>
         <device>/dev/sda1</device>
         <enabled>on</enabled>
         <mountopts>-t vfat -o sync,flush,gid=9,umask=002</mountopts>
         <type>device</type>
      </usb>
   </storage>
   <firewall>
      <dialout>
         <masquerade>
            <enabled>on</enabled>
         </masquerade>
      </dialout>
      <lan>
         <forwards>
            <dialout>on</dialout>
            <vpn>on</vpn>
         </forwards>
      </lan>
      <vpn>
         <forwards>
            <lan>on</lan>
         </forwards>
      </vpn>
      <portrules>
         <total>{{ FIREWALL_RULES|length }}</total>
{% for RULE in FIREWALL_RULES %}
{% set RULE_NUM = loop.index %}
         <portrule{{ RULE_NUM }}>
{% for PARAM, VALUE in RULE.items() %}
            <{{ PARAM }}>{{ VALUE }}</{{ PARAM }}>
{% endfor %}
         </portrule{{ RULE_NUM }}>
{% endfor %}
{# {{ array|length }} will give you the number of item in the array #}
      </portrules>
   </firewall>
   <bfprotection>
      <ssh>
         <enabled>on</enabled>
      </ssh>
   </bfprotection>
   <syslog>
      <repeat>on</repeat>
   </syslog>
   <users>
      <total>2</total>
      <user1>
         <description>Root User</description>
         <username>root</username>
         <groups>
            <total>7</total>
         </groups>
      </user1>
      <user2>
         <description>$NonAdminUser</description>
         <groups>
            <group1>users</group1>
         </groups>
{% for PORT_NUM in range( 1, MAX_PORT+1 ) %}
         <port{{ PORT_NUM }}>on</port{{ PORT_NUM }}>
{% endfor %}
         <ssh_pubkey_only>on</ssh_pubkey_only>
         <username>$NonAdminUser</username>
      </user2>
   </users>
   <ippassthrough>
      <intercept>
         <http>
            <localport>80</localport>
            <port>80</port>
         </http>
         <https>
            <localport>443</localport>
            <port>6443</port>
         </https>
         <ssh>
            <localport>22</localport>
            <port>2222</port>
         </ssh>
      </intercept>
      <interface>config.interfaces.wan</interface>
      <modem>config.console</modem>
      <override_netmask>24</override_netmask>
   </ippassthrough>
   <ntp>
      <servers>
         <total>1</total>
         <server1>            <address>ntp.meow.net</address>
            <key_id>0</key_id>
</server1>
      </servers>
      <enabled>on</enabled>
   </ntp>
   <dialin>
      <services>
         <modified>true</modified>
      </services>
   </dialin>
   <dialout>
      <services>
         <modified>true</modified>
         <ping/>
         <ssh/>
      </services>
   </dialout>
   <lan>
      <services>
         <dns/>
         <ftp/>
         <https>
            <enabled>on</enabled>
         </https>
         <modified>true</modified>
         <nagios_nrpe/>
         <ntp>
	    <enabled>on</enabled>
         </ntp>
         <nut/>
         <ping>
            <enabled>on</enabled>
         </ping>
         <rfc2217_ports/>
         <snmp/>
         <ssh>
            <enabled>on</enabled>
         </ssh>
         <ssh_ports/>
         <tcp_ports/>
         <telnet_ports/>
         <tftp/>
         <unauthssh/>
         <unauthtel/>
         <telnet/>
      </services>
   </lan>
   <vpn>
      <services>
         <dns/>
         <ftp/>
         <https/>
         <modified>true</modified>
         <nagios_nrpe/>
         <ntp/>
         <nut/>
         <ping/>
         <rfc2217_ports/>
         <snmp/>
         <ssh/>
         <ssh_ports/>
         <tcp_ports/>
         <telnet_ports/>
         <tftp/>
         <unauthssh/>
         <unauthtel/>
      </services>
   </vpn>
   <wan>
      <services>
         <https/>
         <modified>true</modified>
         <nagios_nrpe/>
         <nut/>
         <ping>
            <enabled>on</enabled>
         </ping>
         <rfc2217_ports/>
         <snmp/>
         <ssh>
            <enabled>on</enabled>
         </ssh>
         <ssh_ports/>
         <tcp_ports/>
         <unauthssh/>
      </services>
   </wan>
</config>
